.Section {
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 60px;
  
}

  .container {
    max-width: 80vw;
  } 
  
  .Cards {
    display: flex;
    justify-content: space-between;
  }
  
  .Sub-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .Sub-header li {
    padding-left: 3rem;
 }
  
 .slick-arrow::before {
  background-color: black;
  }


